/*--Styles--*/

@font-face{font-family:"Alef";}
h2,h3,h4,h5,h6{font-family:"Alef",sans-serif;margin:0.3em 0; color:#01C690;}
p,ul,ol,li{font-family:Alef;color:white;}

body{background-color: #0E2C37;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color:#01C690;}
.nav>li>a{padding: 15px 15px;font-family: Alef;}
.nav-pills>li>a{color:#01C690;border-radius: 0px;background-color:#082631;margin: 0px 20px;}
.jumbotron{background-color: transparent; background-image:url("../img/01.jpg");background-repeat: no-repeat;}
h1{color:#01C690;font-size:24px; font-weight: bolder;font-family:"Alef"}


.marketing >p{color:white;}
.list-group{margin-bottom:10px;}
.list-group-item{background-color:transparent;border:0px;padding: 0px 0px;}
.fa{color:#01C690;padding:0px 3px 0px 0px}
.form-control{background-color:#082631;border-radius: 0px;border:0px; color:#01C690;}
:-webkit-input-placeholder {color: #01C690;}
.btn{font-family:"Alef";border-radius: 0px; background-color:#01C690;border:0px; color:white;}
